.bannerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}


.container2023 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 30px;
}

.imglogo {
    max-width: 100%
  }
  .image {
    width: 30%;
    height: auto;
  }

  .text {
    font-size: 40px;
    padding-left: 20px;
  }

.jaredImg {
    width: 100%;
    height: auto;
    
}

.font-weighth2 {
    font-weight: 500;
}

.newGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.padding25 {
    padding: 10px 25px;
}

.padding50 {
    padding: 5px 50px;
}

.container2024 {
    max-width: 66em;
    margin: 0 auto;
}

.fontQuicksand {
    font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif; }

.banderIcon {
    height: 10.5rem;
    width: 10.5rem;
}

.head-button a {
    color: #fff;
    text-decoration: none;
}

.testimonial-divider {
    border-right: 2px solid white;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    color: #9b0e5b;
}

.desplayInlineBlock {
    display: inline-block;
}

.boreder {
    border: 1px solid #9b0e5b;
}

.tealBox{
    margin-bottom: 80px; 
    background-color: #016267; 
    color: white
}
 
.marginBottom {
    margin-bottom: 3rem;
}


.buttonLarge {
    width: 454px;
height: 61px;
flex-shrink: 0;
}

.ulTab {
    padding-left: 3rem;

}
.ulPaid {
    list-style: none;
}

.mobleSize {
    width: 50%;
}

.bold {
    font-weight: bold;

}


.ulPaid .paidLi::before{
    content: "\2713 ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #9b0e5b; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
} 


.ulPaid .paidLili::before{
    content: "\2022 ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #9b0e5b; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
} 
.ulPaidPTL {
    list-style: none;
}

.ulPaidPTL .paidLiPT::before{
    content: "\2713 ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #016267; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.ulPaidPTL .paidLiPTli::before{
    content: "\2022  ";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #016267; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.btn a {
    color: #fff;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 625px) { 
    .text {
        font-size: 19px;
        padding-left: 18px;
      }
      .image {
        width: 25%;
        height: auto;
      }
      .jaredImg {
        width: 100%;
        height: auto;
      }
      .bannerGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        margin-bottom: 1rem;
    }
.font-size{
    font-size: 20px;
    margin-top: 5px;
}

.mobleSizeBlank {
    height: 25px;
}

.textMoble {
    font-size: 24px;
    margin-top: -75px;
}

.mobleSizeHero {
  background-color: #016267;
}
.mainbody {
    margin-top: -75px;
}

}

