.bannerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.newGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.padding25 {
    padding: 25px;
}


.container2024 {
    max-width: 66em;
    margin: 0 auto;
}

.fontQuicksand {
    font-family: 'Playfair Display', serif;
font-family: 'Quicksand', sans-serif; }

.banderIcon {
    height: 10.5rem;
    width: 10.5rem;
}

.head-button a {
    color: #fff;
    text-decoration: none;
}

.testimonial-divider {
    border-right: 2px solid white;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    color: #9b0e5b;
}

.desplayInlineBlock {
    display: inline-block;
}

.tealBox{
    margin-bottom: 80px; 
    background-color: #016267; 
    color: white
}
 
.marginBottom {
    margin-bottom: 5rem;
}


.buttonLarge {
    width: 454px;
height: 61px;
flex-shrink: 0;
}