html {
  scroll-padding-top: 3rem;
}

#header .topbar {
  padding: 35px 10px;
  width: 100%;
}

.rotate180-mobile {
  transform: rotate(180deg);
}

.bg-gradientPurple {
  display: flex;
}

.bg-darkShadePurple {
  background: var(--darkShadePurple);
  display: flex;
}

.bg-lightPink {
  background: var(--lightPink);
}

.box-div {
  display: flex;
  flex-direction: column;
}

.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 350px;
}

.box-head .btn {
  font-size: 1rem;
  padding: 0.5em 1.25em;
}

.box-head.fund,
.box-head.vip,
.box-head.recording,
#purple-box {
  max-width: 400px;
  margin: 0 auto;
}

.b-t-blue {
  border-top: 0 !important;
}

.b-t-purple {
  border-top: 0 !important;
}

.b-t-yellow {
  border-top: 0 !important;
}

.btn-cartoon {
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  font-weight: bold;
  max-width: 250px;
  min-width: 155px;
  padding: 0.5em 1.25em;
}

.btn-cartoon-shadow {
  box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -8px 8px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -8px 8px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 0px 0px 0px 2px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -8px 8px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-cartoon-shadow:hover {
  box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -5px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -5px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 0px 0px 0px 2px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -5px 6px 0px 0px rgba(0, 0, 0, 1);
  bottom: -2px;
  left: -3px;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn-cartoon-shadow-blue {
  border: 5px solid black;
  box-shadow: -8px 8px 0px 0px rgb(0 163 180);
  -webkit-box-shadow: -8px 8px 0px 0px rgb(0 163 180);
  -moz-box-shadow: -8px 8px 0px 0px rgb(0, 163, 180);
  position: block;
}

.btn-cartoon-shadow-blue:hover {
  box-shadow: -5px 6px 0px 0px rgb(0 163 180);
  -webkit-box-shadow: -5px 6px 0px 0px rgb(0 163 180);
  -moz-box-shadow: -5px 6px 0px 0px rgba(0, 163, 180, 1);
  bottom: -2px;
  left: -3px;
}

.btn-cartoon-shadow-purple {
  border: 5px solid black;
  box-shadow: -8px 8px 0px 0px rgb(155 14 91);
  -webkit-box-shadow: -8px 8px 0px 0px rgb(155 14 91);
  -moz-box-shadow: -8px 8px 0px 0px rgb(155, 14, 91);
  position: relative;
}

.btn-cartoon-shadow-purple:hover {
  box-shadow: -5px 6px 0px 0px rgb(155 14 91);
  -webkit-box-shadow: -5px 6px 0px 0px rgb(155 14 91);
  -moz-box-shadow: -5px 6px 0px 0px rgba(155, 14, 91, 1);
  bottom: -2px;
  left: -3px;
}

.btn-cartoon-shadow-yellow {
  border: 5px solid black;
  box-shadow: -8px 8px 0px 0px rgb(220 152 40);
  -webkit-box-shadow: -8px 8px 0px 0px rgb(220 152 40);
  -moz-box-shadow: -8px 8px 0px 0px rgb(220, 152, 40);
  position: relative;
}

.btn-cartoon-shadow-yellow:hover {
  box-shadow: -5px 6px 0px 0px rgb(220 152 40);
  -webkit-box-shadow: -5px 6px 0px 0px rgb(220 152 40);
  -moz-box-shadow: -5px 6px 0px 0px rgba(220, 152, 40, 1);
  bottom: -2px;
  left: -3px;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.flex-div-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.flex-wall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-box {
  padding-top: 2em;
  padding-bottom: 2em;
}

.second-box {
  padding-top: 0;
  padding-bottom: 2em;
}

.b-t-purple.box-content,
.b-t-blue.box-content {
  padding-top: 0;
  padding-bottom: 0;
}

.b-t-yellow.box-content {
  padding-top: 0;
  padding-bottom: 2em;
}

.inner-box p {
  font-size: 16px;
}

#join-us {
  padding-top: 43px;
}

#metrics-title {
  padding: 43px 0;
}

.flex-div-start.reverse img {
  display: none;
}

.three-buttons {
  margin-bottom: 20px;
  max-width: 230px;
  width: 100%;
}

.max-5em {
  max-width: 5em;
}

.max-7em {
  max-width: 7em;
}

.max-15em {
  max-width: 15em;
}

.jared-image {
  display: none;
  transform-origin: bottom left;
  transition: ease-in 0.3s;
}

.jared-image:hover {
  transition: ease-in 0.3s;
  transform: rotate(0deg);
}

.pad-d-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pad-5 {
  padding: 20px;
}

.pad-top-1 {
  padding-top: 10px;
}

.pad-top-2 {
  padding-top: 20px;
}

.pad-bottom-2 {
  padding-bottom: 20px;
}

.pad-top-4 {
  padding-top: 40px;
}

.pad-top-5 {
  padding-top: 50px;
}

.pad-bottom-4 {
  padding-bottom: 40px;
}

.pad-bottom-5 {
  padding-bottom: 50px;
}

.box-head.fund {
  background-image: url("../img/recording-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.box-head.vip {
  background-image: url("../img/vip-background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.box-head.recording {
  background-image: url("../img/recording-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.box-head-ticket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-head-ticket img {
  padding: 0 1em;
}

.box-head p {
  font-size: 1.1em;
}

.hide-on-desktop {
  display: block;
}

.hide-on-mobile {
  display: none;
}

.metrics-images {
  display: none;
}

.mobile-metrics-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-metrics-images img {
  padding: 0;
  width: 50%;
}

.mobile-metrics-images p {
  font-weight: 600;
  font-size: 20px;
}

.pricing-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing-box .box-head {
  padding: 30px;
  font-weight: 500;
}

.pricing-box .box-content {
  padding-top: 20px;
}

.pricing-box .box-head p strong {
  font-weight: 600;
}

.pricing-box h2 {
  font-size: 1.5em;
  width: 75%;
}

.sold-out {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.cal-card-image {
  max-width: 300px;
  top: 10px;
  position: sticky;
}

.star {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 20%;
}

.pricing-box .btn {
  margin: 20px 5px;
  width: 95%;
}

.blue-check li {
  list-style: none;
  background: url(../img/blue-check.png);
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  background-position: 0px 3px;
}

.blue-check ul li {
  list-style-type: circle;
  background: none;
  padding: 0;
}

.purple-check li {
  list-style: none;
  background: url("../img/purple-check.png");
  background-repeat: no-repeat;
  background-position: 0px 3px;
  padding: 0 0 0 30px;
}

.purple-check ul li {
  list-style-type: circle;
  background: none;
  padding: 0;
}

#white-box,
#purple-box {
  position: relative;
}

.pricing-box .btn:hover {
  bottom: -2px;
  left: -0.2em;
  box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -5px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -5px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 0px 0px 0px 2px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -5px 6px 0px 0px rgba(0, 0, 0, 1);
}

.regular-highlighted {
  color: var(--brightBlue);
  font-weight: bold;
  font-style: italic;
}

.vip-highlighted {
  color: var(--brightPurple);
  font-weight: bold;
  font-style: italic;
}

.b-t-purple.box-content li,
.b-t-purple.box-content p,
.b-t-blue.box-content li,
.b-t-blue.box-content p,
.b-t-yellow.box-content li,
.b-t-yellow.box-content p {
  font-size: 18px;
}

/*------------------------------------*\
    $quotedArticleLeft
\*------------------------------------*/

.quotedArticleLeft .sec-desc {
  grid-column: 2 / 17;
}

.quotedArticleLeft .sec-il {
  grid-column: 18 / 27;
}

.quotedArticleLeft .sec-il img {
  padding-top: 32px;
}

/*------------------------------------*\
    $ready-to-do-this
\*------------------------------------*/
#ready-to-do-this .grid26 {
  margin-top: 30px;
}

.sec-desc-step {
  grid-column: 6 / 22;
}

.sec-il-step {
  grid-column: 2 / 5;
}

.sec-il-step img {
  max-width: 100px;
  margin-left: auto;
  margin-right: 0;
  display: block;
}

.sec-desc-step h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.b-t-purple.box-content h3,
.b-t-blue.box-content h3 {
  padding-top: 0;
}

.mobile-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.reverse {
  flex-direction: column-reverse;
}

.row {
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 20px;
}

.row .basis20,
.row-reverse .basis20 {
  display: none;
}

.row-reverse {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.row h2,
.row-reverse h2 {
  font-size: 1.1em;
}

.two-hero-rows p {
  font-family: "Source Sans Pro", "DM Sans";
  font-size: 1.25em;
  max-width: 400px;
}

.wall-border {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.width30 {
  width: 30%;
}

.width60 {
  width: 60%;
}

.width70 {
  width: 70%;
}

.width80 {
  width: 80%;
}

#img-row {
  display: none;
}

@media only screen and (min-width: 54em) {
  #header .topbar {
    padding: 35px 20px;
    width: 100%;
  }

  .box-div {
    flex-direction: row;
  }

  .box-head {
    align-items: flex-start;
  }

  .box-head .btn {
    width: 50%;
  }

  .box-head .btn-yellow {
    margin-top: 20%;
  }

  .flex-div-start {
    flex-direction: row;
  }
}

@media only screen and (min-width: 425px) {
  .flex-div-start {
    flex-direction: row-reverse;
    align-items: center;
  }

  .flex-div-start.reverse img {
    display: block;
  }

  .flex-wall {
    justify-content: space-between;
  }

  .jared-image {
    display: block;
    transform: rotate(-15deg);
  }

  #intensive-w-jared p {
    width: 75%;
  }

  .two-hero-rows p {
    font-size: 1.45em;
  }

  .two-hero-rows p:first-child {
    width: 80%;
  }

  .row .basis20,
  .row-reverse .basis20 {
    display: block;
    flex-basis: 20%;
    margin-top: 0;
  }

  .row .basis20 {
    margin-right: 10px;
  }

  .row-reverse .basis20 {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 768px) {


  #join-us {
    margin-top: 10%;
    padding-top: 0;
  }

  #img-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50%;
    margin-top: 100px;
  }

  #img-row img {
    width: 90%;
  }

  #hero-split {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .rotate180-mobile {
    margin-left: auto;
    transform: rotate(0);
  }

  .b-t-purple.box-content,
  .b-t-blue.box-content {
    max-width: 500px;
  }

  .b-t-yellow.box-content {
    max-width: 395px;
  }

  .b-t-purple.box-content h3,
  .b-t-blue.box-content h3 {
    padding-left: 50px;
  }

  .btn-cartoon {
    font-size: 1.15em;
  }

  .twoIntroStatements {
    display: flex;
  }

  .two-hero-rows p {
    font-size: 1.6em;
  }

  .twoIntroStatements .container-cc {
    width: 50%;
  }

  .flex-div-start.reverse img {
    display: none;
  }

  .mobile-reverse {
    flex-direction: row;
  }

  .mobile-metrics-images {
    margin: 0 auto;
    width: 75%;
  }

  .tablet-rows {
    display: flex;
    flex-direction: row;
  }

  .row .basis20 {
    margin-right: 0px;
  }

  .row,
  .row-reverse {
    padding: 10px 0;
  }

  .row-reverse .basis20 {
    margin-left: 0px;
  }

  .row .basis20 img {
    width: 76.8px;
  }

  .row .basis20,
  .row-reverse .basis20 {
    flex-basis: 20% !important;
    margin: 0 auto;
  }

  .reverse {
    flex-direction: row;
  }

  .reverse h2 {
    font-size: 3em;
  }

  .row-reverse {
    flex-direction: row;
  }

  .row-reverse .sec-desc {
    flex-basis: 80%;
    margin-bottom: 0;
  }

  .introContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pricing-box .box-head {
    min-height: 585px;
  }

  .box-head.recording {
    min-height: 400px;
    max-height: 400px;
  }

  .pricing-box h2 {
    width: 100%;
  }

  .star {
    right: 125px;
  }
}

@media (max-device-width: 800px) {
  .sec-desc-step {
    grid-column: 1 / 26;
  }

  .sec-il-step {
    grid-column: 1 / 26;
  }

  .sec-il-step img {
    max-width: 150px;
    margin: auto;
    display: block;
  }
  .newGrid {
    display: grid;
    grid-template-columns: 1fr;
  }

}

@media only screen and (min-width: 1024px) {
  #join-us {
    margin-top: 32px;
  }

  #img-row {
    flex-basis: 20%;
    margin-top: 55px;
    padding-right: 0;
  }

  #ux-priority {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #metrics-title {
    padding-top: 14px;
    padding-bottom: 0;
  }

  #intensive-w-jared p {
    width: 65%;
    margin-right: 0% !important;
  }

  .bg-gradientPurple {
    background: var(--gradientPurple);
  }

  .bottom-arrow {
    margin-right: 0;
  }

  .first-box {
    padding-top: 0;
  }

  .flex-wall {
    justify-content: space-evenly;
    padding: 0;
  }

  .hide-on-desktop {
    display: none;
  }

  .hide-on-mobile {
    display: block;
  }

  .metrics-images {
    display: block;
  }

  .mobile-metrics-images {
    display: none;
  }

  .reverse h2 {
    font-size: 2.8em;
    line-height: 1.4em;
  }

  .row-reverse .sec-il {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .twoIntroStatements {
    position: relative;
    max-width: 66em;
    top: -80px;
    width: 85%;
    margin: 0 auto;
  }

  #hero-split {
    padding-bottom: 80px;
  }

  .two-hero-rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .two-hero-rows p {
    font-size: 1.35em;
  }

  .two-hero-rows p:first-child {
    width: 300px;
  }

  .row,
  .row-reverse {
    padding: 0;
  }

  .row .basis20,
  .row-reverse .basis20 {
    flex-basis: 25% !important;
  }

  .row h2,
  .row-reverse h2 {
    font-size: 1.15em;
  }

  .row .basis20 img {
    width: 100%;
  }

  #let-jared-be-your-guide {
    padding-bottom: 0;
  }

  #metrics-title {
    max-width: 630px;
  }

  .pricing-box {
    align-items: flex-start;
    flex-direction: row;
  }

  .pricing-box .box-content {
    padding-top: 0;
  }

  .pricing-box h3 {
    padding-left: 40px;
  }

  .box-head.recording {
    min-height: 430px !important;
  }

  .pricing-box h2 {
    width: 75%;
  }

  .b-t-purple.box-content h3,
  .b-t-blue.box-content h3 {
    padding-left: 80px;
    padding-bottom: 0;
  }

  .b-t-purple.box-content,
  .b-t-blue.box-content,
  .b-t-yellow.box-content {
    max-width: 520px;
  }

  .b-t-yellow.box-content {
    padding-left: 5%;
  }
}

@media (max-device-width: 800px) {
  .quotedArticleLeft .sec-il img {
    padding-top: 12px;
    order: 1;
  }

  .quotedArticleLeft .sec-desc {
    order: 2;
    grid-column: 1 / 26;
  }

  .quotedArticleLeft .sec-il {
    grid-column: 1 / 26;
  }
}

@media only screen and (min-width: 54em) {
  .box-head {
    padding-left: 15px;
  }

  .box-head .btn {
    width: 95%;
  }

  .flex-div {
    flex-direction: row;
    font-size: 0.9rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "DM Sans", "Source Sans Pro", "Open Sans", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1;
  }

  #intensive-w-jared p:first-of-type {
    margin-right: 2%;
  }

  .three-buttons {
    margin-bottom: 10px;
    width: 30%;
  }

  .laptop-pl1 {
    padding-left: 1em;
  }

  .reverse {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row;
  }

  .view-on-mobile {
    font-size: 1.5em;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 1440px) {
  #img-row {
    padding-bottom: 6%;
  }

  .box-head .btn-blue {
    margin-top: 17.2%;
  }

  .view-on-mobile {
    padding-right: 19%;
  }

  #intensive-w-jared {
    padding: 0;
  }

  .two-hero-rows p:first-child {
    width: 275px;
  }

  .row-reverse .sec-desc {
    margin-top: 0;
  }

  .twoIntroStatements {
    justify-content: center;
    align-items: center;
  }

  .introContainer {
    width: 85%;
    max-width: 66em;
  }
}

@media only screen and (min-width: 1750px) {
  .view-on-mobile {
    padding-right: 23%;
  }
}

h5 {
  font-size: 20px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 54em) {
  .basis20,
  .basis25,
  .basis30,
  .basis40,
  .basis50,
  .basis60,
  .basis80 {
    max-width: 100%;
  }
}
